Simple recommendations for your next movie.

In [4]:
import warnings
warnings.filterwarnings("ignore")

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import seaborn as sns
%pylab inline

Populating the interactive namespace from numpy and matplotlib

WARNING: pylab import has clobbered these variables: ['plt']
`%matplotlib` prevents importing * from pylab and numpy

In [575]:
%matplotlib inline 
import matplotlib as plt
data = pd.read_csv('C:/Users/ssssa/Desktop/Project/imdb/movie.csv')

In [576]:
first_actor = data.actor_1_name.unique()
second_actor = data.actor_2_name.unique()
third_actor = data.actor_3_name.unique()

In [577]:
data=data.drop('genres',axis=1)

In [578]:
counts =data.language.value_counts()
data.language=data.language.map(counts) #replcaing lanuage with counts
count= data.country.value_counts()
data.country=data.country.map(count) #replcaing country name with counts

In [579]:
counts = data.content_rating.value_counts() 
data.content_rating = data.content_rating.map(counts) ##replcaing content_rating with counts

In [580]:
# Replacing director name with counts of movies they've done
a= data.groupby('director_name')['movie_title'].count()
data.director_name= data.director_name.map(a)

In [581]:
#Total numebr of times an actor is featured in a movie.
coun= pd.concat([data.actor_1_name, data.actor_2_name, data.actor_3_name]).value_counts()
coun.head()

Robert De Niro    54
Morgan Freeman    47
Johnny Depp       41
Bruce Willis      40
Matt Damon        38
dtype: int64

In [582]:
data.actor_1_name=data.actor_1_name.map(coun)
data.actor_2_name=data.actor_2_name.map(coun)
data.actor_3_name=data.actor_3_name.map(coun)

In [583]:
data.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,actor_1_name,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,7.0,723.0,178.0,0.0,855.0,7.0,1000.0,760505847.0,7.0,...,3054.0,4704.0,3807.0,1461.0,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,7.0,302.0,169.0,563.0,1000.0,11.0,40000.0,309404152.0,41.0,...,1238.0,4704.0,3807.0,1461.0,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,8.0,602.0,148.0,0.0,161.0,5.0,11000.0,200074175.0,10.0,...,994.0,4704.0,448.0,1461.0,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,8.0,813.0,164.0,22000.0,23000.0,28.0,27000.0,448130642.0,13.0,...,2701.0,4704.0,3807.0,1461.0,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,1.0,NaN,NaN,131.0,NaN,1.0,131.0,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [584]:
data.color=data.color.map({ 'Color':1 , 'Black and White':0  })

In [585]:
data.dtypes

color                        float64
director_name                float64
num_critic_for_reviews       float64
duration                     float64
director_facebook_likes      float64
actor_3_facebook_likes       float64
actor_2_name                 float64
actor_1_facebook_likes       float64
gross                        float64
actor_1_name                 float64
movie_title                   object
num_voted_users                int64
cast_total_facebook_likes      int64
actor_3_name                 float64
facenumber_in_poster         float64
plot_keywords                 object
movie_imdb_link               object
num_user_for_reviews         float64
language                     float64
country                      float64
content_rating               float64
budget                       float64
title_year                   float64
actor_2_facebook_likes       float64
imdb_score                   float64
aspect_ratio                 float64
movie_facebook_likes           int64
dtype: object

In [586]:
unique_words = set()
for word in data.plot_keywords.str.split('|'):
    if word is not np.nan:
        unique_words=unique_words.union(set(word))
wordbag = list(unique_words)
for word in wordbag:
    data['plot_has' + word.replace(' ', '-')] = data.plot_keywords.str.contains(word).astype(float)

In [587]:
data.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,actor_1_name,...,plot_has13-year-old,plot_hasfailed-kidnapping,plot_hasboy-genius,plot_hascritique-of-capitalism,plot_hasstudio-logo-segues-into-film,plot_hassex-obsession,plot_hasgynecologist,plot_hasmass-suicide,plot_hasoklahoma,plot_hashowie-scream
0,1.0,7.0,723.0,178.0,0.0,855.0,7.0,1000.0,760505847.0,7.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,7.0,302.0,169.0,563.0,1000.0,11.0,40000.0,309404152.0,41.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,8.0,602.0,148.0,0.0,161.0,5.0,11000.0,200074175.0,10.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,8.0,813.0,164.0,22000.0,23000.0,28.0,27000.0,448130642.0,13.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,NaN,1.0,NaN,NaN,131.0,NaN,1.0,131.0,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [588]:
data=data.drop('plot_keywords', axis=1)

In [589]:
data = data.drop(['movie_imdb_link'], axis=1)

In [590]:
print len(data.movie_title.unique())
print len(data)

4917
5043

In [591]:
duplicates = data.movie_title.map(data.movie_title.value_counts() > 1)

In [592]:
duplicates.head()

0    False
1    False
2    False
3    False
4    False
Name: movie_title, dtype: bool

In [593]:
data = data.drop_duplicates('movie_title')

In [594]:
nullcount = data.isnull().sum(axis=1)
nullcount
ndf = data.dropna(thresh=100)

In [595]:
ndf.shape
df=ndf

In [596]:
# For unique Titles 
if len(df.movie_title.unique()) == len(df):
    print('Duplicate Titles Exist')
    # Let's see these duplicates.
    duplicates = df[df.movie_title.map(df.movie_title.value_counts() > 1)]
    duplicates.sort('movie_title')[['movie_title', 'title_year']]
    # Looks like there are duplicates after all. Let's drop those.
    df = df.drop_duplicates(subset=['movie_title', 'title_year'])

    
# Is anything left to be done other than imputing?
print(df.select_dtypes(include=['O']).columns)

# Let's check if anything is left as object
df.select_dtypes(include=['O']).columns

Duplicate Titles Exist
Index([u'movie_title'], dtype='object')

Index([u'movie_title'], dtype='object')

In [597]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.neighbors import KNeighborsRegressor
from sklearn.preprocessing import LabelEncoder, MinMaxScaler

# Classifier to fill missing values.

In [598]:

def reg_class_fill(df, column, classifier):
    ndf = df.dropna(subset=[col for col in df.columns if col != column])
    nullmask = ndf[column].isnull()
    train, test  = ndf[~nullmask], ndf[nullmask]
    train_x, train_y = train.drop(column, axis=1), train[column]
    classifier.fit(train_x, train_y)
    if len(test) > 0:
        test_x, test_y = test.drop(column, axis=1), test[column]
        values = classifier.predict(test_x)
        test_y = values
        new_x, new_y = pd.concat([train_x, test_x]), pd.concat([train_y, test_y])
        newdf = new_x[column] = new_y
        return newdf
    else:
        return ndf

In [599]:
r, c = KNeighborsRegressor, KNeighborsClassifier

In [600]:
title_encoder = LabelEncoder()
title_encoder.fit(ndf.movie_title)
ndf.movie_title = title_encoder.transform(ndf.movie_title)

In [601]:
print(ndf[ndf.columns[:25]].isnull().sum())

color                        214
director_name                 93
num_critic_for_reviews        26
duration                       8
director_facebook_likes       93
actor_3_facebook_likes        17
actor_2_name                  10
actor_1_facebook_likes         7
gross                        751
actor_1_name                   7
movie_title                    0
num_voted_users                0
cast_total_facebook_likes      0
actor_3_name                  17
facenumber_in_poster          11
num_user_for_reviews           7
language                       8
country                        3
content_rating               222
budget                       444
title_year                    93
actor_2_facebook_likes        10
imdb_score                     0
aspect_ratio                 244
movie_facebook_likes           0
dtype: int64

In [602]:
imputation = [('director_name', c), ('title_year', c),
                ('actor_1_name', c), ('actor_2_name', c), ('actor_3_name', c),
                ('gross', r), ('budget', r), ('aspect_ratio', r),
                ('content_rating', r), ('num_critic_for_reviews', r)
                ] 
for col, classifier in imputation:
    ndf = reg_class_fill(ndf, col, classifier())
    print(col, 'Done')

('director_name', 'Done')
('title_year', 'Done')
('actor_1_name', 'Done')
('actor_2_name', 'Done')
('actor_3_name', 'Done')
('gross', 'Done')
('budget', 'Done')
('aspect_ratio', 'Done')
('content_rating', 'Done')
('num_critic_for_reviews', 'Done')

In [603]:
ndf.isnull().sum().sum()

0L

In [604]:
#Movie Titles
titles = title_encoder.inverse_transform(ndf.movie_title)

# KD Tree recommendation system

In [617]:
##Taking input from the user
names=['fight club', 'forest gump','usual suspects', 'silence of the lambs']

def titlename(names):
    movies=[]
    for name in names:
        a= [i for i in titles if name.lower() in i.lower()]
        #print a
        if len(a)>0:
            movies.append(a[0])
            print ( name + ' is found and added as ' + a[0] )
        else:
            print ('not found !')
    print (movies)
    movie_codes= title_encoder.transform(movie)
    return movie_codes, movies

In [606]:
a,b = titlename(names)       
a

fight club is found and added as Fight ClubÂ
not found !
usual suspects is found and added as The Usual SuspectsÂ
silence of the lambs is found and added as The Silence of the LambsÂ
['Fight Club\xc2\xa0', 'The Usual Suspects\xc2\xa0', 'The Silence of the Lambs\xc2\xa0']

1076

In [607]:
data = ndf.drop('movie_title', axis=1)
data = MinMaxScaler().fit_transform(data)

In [608]:
# Computing distance_matrix
from sklearn.neighbors import KDTree
from collections import Counter

In [610]:
movies

['Fight Club\xc2\xa0',
 'The Usual Suspects\xc2\xa0',
 'The Silence of the Lambs\xc2\xa0']

In [611]:
titles

array(['Avatar\xc2\xa0',
       "Pirates of the Caribbean: At World's End\xc2\xa0",
       'Spectre\xc2\xa0', ..., 'Primer\xc2\xa0', 'El Mariachi\xc2\xa0',
       'My Date with Drew\xc2\xa0'], dtype=object)

In [612]:
tree = KDTree(data, leaf_size=2)

In [613]:
def recommend(movies, tree, titles, data):
    """
    It is assumed that the movies are in order of decreasing like-able-ness
    Recommend movies on the basis of the KDTree generated.
    Return them in order of increasing distance form knowns.
    """
    titles = list(titles)
    length, recommendations = len(movies) + 1,[]
    
    for i, movie in enumerate(movies):
        weight = length - i
        dist, index = tree.query(data[titles.index(movie)], k=3)
        for d, m in zip(dist[0], index[0]):
            recommendations.append((d*weight, titles[m]))
    recommendations.sort()
    # Stuff is reorganized by frequency.
    rec = [i[1].strip() for i in recommendations if i[1] not in movies]
    rec = [i[1] for i in sorted([(v, k) for k, v in Counter(rec).items()],
                                reverse=True)]
    return rec

In [614]:
rec = recommend(movies, tree, titles, data)

print('Rank | Movie')
print('-----|------')
fmt = '{}.   | {}'
for index, movie in enumerate(rec[:9]):
    print(fmt.format(index + 1, movie))

C:\Users\ssssa\Anaconda2\lib\site-packages\sklearn\utils\validation.py:386: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and willraise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)
C:\Users\ssssa\Anaconda2\lib\site-packages\sklearn\utils\validation.py:386: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and willraise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)
C:\Users\ssssa\Anaconda2\lib\site-packages\sklearn\utils\validation.py:386: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and willraise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)

Rank | Movie
-----|------
1.   | Boynton Beach ClubÂ
2.   | UntraceableÂ
3.   | The English PatientÂ
4.   | Suspect ZeroÂ
5.   | DreddÂ

In [622]:
name = ['hesher', 'leaving las vegas'] 
moviecodes, movie = titlename(name)
rec = recommend(movie, tree, titles, data)
print('-'*50)
print('Recommending on the basis of the above movies')
print('-'*50)
print()
print('+-----|------')
print('|Rank | Movie')
print('+-----|------')
fmt = '|{}.   | {}'
for index, movie in enumerate(rec[:9]):
    print(fmt.format(index + 1, movie))
print('+-----|------')

hesher is found and added as HesherÂ
leaving las vegas is found and added as Leaving Las VegasÂ
['Hesher\xc2\xa0', 'Leaving Las Vegas\xc2\xa0']

C:\Users\ssssa\Anaconda2\lib\site-packages\sklearn\utils\validation.py:386: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and willraise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)
C:\Users\ssssa\Anaconda2\lib\site-packages\sklearn\utils\validation.py:386: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and willraise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)

--------------------------------------------------
Recommending on the basis of the above movies
--------------------------------------------------
()
+-----|------
|Rank | Movie
+-----|------
|1.   | Boynton Beach ClubÂ
|2.   | Punch-Drunk LoveÂ
|3.   | PremonitionÂ
+-----|------